<h2>Enter your catch here to join the leaderboard</h2>
<form action="/" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value ="{{fname}}"><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value ="{{lname}}"><br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" value="{{location}}"><br>
    <label for="species">What species did you catch?:</label>
    <input type="text" id="species" name="species" value="{{species}}"><br>
    <label for="caught">How many did you catch?</label>
    <input type="text" id="caught" name="caught" value="{{caught}}"><br>
    <input type ="submit" id="submit" name="submit"value ="submit">
</form>